openai
huggingface
phidata
python-dotenv
yfinance
packaging
duckduckgo-search
fastapi
uvicorn
groq
newspaper4k 
lxml_html_clean
phi
sqlalchemy
pgvector
psycopg[binary]
pypdf
google-generativeai
huggingface-hub
sentence-transformers
streamlit